.footer {
    margin-top: 300px;
    height: 385px;
    background: #100E1D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 
 
}

.footer_nav {
    width: 92px;
    height: 180px;
}

ul li a {
    font-weight: 400;
    font-size: var(--paragraph2);
    line-height: 200%;
    font-family: 'Poppins', sans-serif;
    font-size: var(--paragraph2);
    color: var(--white);
    text-decoration: none;
    color: var(--white);
}

.footer_social {
    border: 1px solid white;
    width: 92px;
}

.footer_social_name {
    color: var(--gray-6);
    line-height: 53px;
    font-size: var(--heading-h3);
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
}

.icons {
    width: 150px;
    height: 150px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    gap: 45px;

}

a.twitter {
    margin-top: 4px;
}

.social_icon {
    color: var(--white);
    height: 6%;
    width: 6%;
    margin-left: -150px;
    margin-top: 30px;
}

.contact_box_footer {
    width: 366px;
}

.contact_text_footer {
    color: var(--gray-6);
    line-height: 21px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--paragraph4);
    font-weight: 500;
}

.btn_join_footer {
    background-color: var(--blue);
    color: var(--gray-6);
    border-radius: 12px;
    position: absolute;
    width: 94px;
    height: 49px;
    border: none;
    cursor: pointer;
    margin-left: 268px;
    font-size: var(--paragraph2);

    &:hover {
        background-color: var(--blue-hover);
        border: 1px solid var(--blue);
    }
}

.dev_name {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--gray-6);
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--paragraph4);
    line-height: 17px;
    background: #100E1D;
}

.dev_name a {
    color: var(--gray-6);
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--paragraph4);
    line-height: 17px;
   
}

@media only screen and (min-width: 1920px) {
    .icons {
        justify-content: space-between;
    }
    .contact_box_footer {
        margin-left: 1350px;
    }
    
}

@media (max-width: 480px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 700px;
        border-bottom: none;
    }
    .social_icon {
        color: var(--white);
        height: 6%;
        width: 4%;
        margin-left: -130px;
    }
    .footer_social_name {
        margin-left: 20px;
    }
    .icons {
        margin-left: 20px;
    }
  
    .dev_name {
        border: none;
    }
}