header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 36px;
    color: var(--gray-1);
  }
  
  nav {
    width: 650px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li a {
    text-decoration: none;
    color: var(--gray-1);
    font-size: var(--paragraph1);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  
  }
  
  li {
    padding: 0 20px;
    list-style-type: none;
  
    a:hover {
      color: var(--blue);
      cursor: pointer;
    }
  }
  
  // Hide Hamburger Menu
  .hamburger-menu {
    display: none;
  }
  
  // Mobile (Smartphone) 480px
  @media (max-width: 480px) {
    html {
      font-size: 62.5%;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }
  
    h1 {
      margin-left: 5px;
      font-size: var(--paragraph1);
      line-height: 35px;
    }
  
    nav {
      width: 100vw;
      height: 100vh;
      display: block;
    }
  
    nav ul {
      display: block;
    }
  
    a:link,
    a:visited {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
  
      transition: all 0.3s;
    }
  
    .hamburger-menu {
      display: block;
    }
  
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    /* navigation menu */
  
    /* overlay */
    .overlay {
      z-index: 9;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 130vh;
      margin: 0;
      padding: 0;
      background-color: #000000;
    }
  
    .overlay-slide-right {
      transition: all 0.4s ease-in-out;
      transform: translateX(0);
    }
  
    .overlay-slide-left {
      transition: all 0.8s ease-in-out;
      transform: translateX(-100vw);
    }
  
    /* nav menu items */
    nav ul {
      height: 100vh;
      list-style: none;
    }
  
    nav ul li {
      height: 20%;
    }
  
    nav li:nth-of-type(1) {
      background-color: var(--gray-3);
    }
  
    nav li:nth-of-type(2) {
      background-color: var(--brown);
    }
  
    nav li:nth-of-type(3) {
      background-color: var(--blue-navi);
    }
  
    nav li:nth-of-type(4) {
      background-color: var(--red-light);
    }
  
    nav li:nth-of-type(5) {
      background-color: var(--blue-ocean);
    }

    nav li:nth-of-type(6) {
      background-color: var(--green);
    }
  
    nav li a {
      letter-spacing: 0.4rem;
      font-size: 2rem;
    }
  
    nav li a:hover,
    nav li a:active {
      transform: scale(1.1);
    }
  
    nav li a:hover:after {
      content: "🠒";
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      margin-left: 1rem;
    }
  
    /* nav slide in animation */
  
    .slide-in-1 {
      animation: slide-in 0.2s linear 0.2s both;
    }
  
    .slide-in-2 {
      animation: slide-in 0.4s linear 0.4s both;
    }
  
    .slide-in-3 {
      animation: slide-in 0.6s linear 0.6s both;
    }
  
    .slide-in-4 {
      animation: slide-in 0.8s linear 0.8s both;
    }
  
    .slide-in-5 {
      animation: slide-in 1s linear 1s both;
    }
  
    @keyframes slide-in {
      from {
        transform: translateX(-100%);
      }
  
      to {
        transform: translateX(0);
      }
    }
  
    /* nav slide out animation */
  
  
    .slide-out-1 {
      animation: slide-out 0.3s linear 0.5s both;
    }
  
    .slide-out-2 {
      animation: slide-out 0.3s linear 0.4s both;
    }
  
    .slide-out-3 {
      animation: slide-out 0.3s linear 0.3s both;
    }
  
    .slide-out-4 {
      animation: slide-out 0.3s linear 0.2s both;
    }
  
    .slide-out-5 {
      animation: slide-out 0.3s linear 0.1s both;
    }
    
    @keyframes slide-out {
      from {
        transform: translateX(0);
      }
  
      to {
        transform: translateX(-100%);
      }
    }
  
  
    /* hamburger menu animation*/
  
  
    .hamburger-menu {
      position: fixed;
      top: 1rem;
      right: 2rem;
      z-index: 10;
      cursor: pointer;
    }
  
    .menu-bar1,
    .menu-bar2,
    .menu-bar3 {
      width: 3.5rem;
      height: 0.2rem;
      background-color: rgb(0, 0, 0);
      margin: 0.8rem 0;
      transition: 0.4s;
    }
  
    .menu-bar2 {
      width: 2rem;
      margin-left: auto;
    }
  
    /* rotate the first bar */
    .active .menu-bar1 {
      transform: rotate(-45deg) translate(-7px, 8px);
    }
  
    /* make the second bar fade */
    .active .menu-bar2 {
      opacity: 0;
    }
  
    /* rotate the third bar */
    .active .menu-bar3 {
      transform: rotate(45deg) translate(-6px, -8px);
    }
  
    .hamburger-menu {
      top: 0.5rem;
      right: 1rem;
    }
  }