.services{
    display: flex;
    flex-direction: column;
  
   // position: absolute;
    margin-top: 130px; 
}

.services_title {
    width: 346px;
    color: var( --gray-1);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 54px;
    font-size: var(--heading-h3);
    margin-top: 16px;
    margin-left: 50px;
}

.card_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card_box {
    width: 341px;
    height: 422px;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
        box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
        border-radius: 24px;
        cursor: pointer;
    }
  
    .icon_box {
        border-radius: 16px;
        color: var(--white);
        width: 67px;
        height: 67px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 34px;

        &.icon_box_blue {
            background-color: var(--blue);
        }

        &.icon_box_green {
            background-color: var(--green);
        }

        &.icon_box_red {
            background-color: var(--red);
        }

        span {
            font-size: 32px;

            &.arrow {
                transform: rotate(90deg);
                font-size: 36px;
            }
        }

    }

    .card_title {
        color: var(--gray-1);
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: var(--paragraph1);
        line-height: 36px;
        margin-top: 32px;
        margin-left: 34px;
    }

    .card_text {
        color: var(--gray-2);
        font-family: 'Poppins', sans-serif;
        font-size: var(--paragraph3);
        line-height: 24px;
        font-weight: 400;
        margin-top: 24px;
        width: 273px;
        margin-left: 34px;
    }

    .card_btn {
        border-radius: 12px;
        background-color: va(--bg-btn);
        border: none;
        width: 116px;
        height: 42px;
        margin-top: 30px;
        color: var(--gray-3);
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: var(--paragraph3);
        line-height: 24px;
        cursor: pointer;
        margin-left: 34px;

        &:hover {
            background-color: var(--blue);
            color: var(--white);
        }
    }
}

