.our_works {
    margin-top: 164px;
}

.our_works_title {
    width: 448px;
    color: var( --gray-1);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 54px;
    font-size: var(--heading-h3);
    margin-left: 50px;
}

.our_work_img {
    border-radius: 12px;
    width: 540px;
    height: 540px;
    margin-left: 50px;
    margin-top: 150px;
    z-index: -1;
}

.container_main {
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
}

.container_1 {
    height: 1555px;
    width: 600px;
    position: relative;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.container_2 {
    height: 1555px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -150px;
    position: relative;
    right: 20px;
} 


.img_container {
    margin-top: 700px;
    margin-left: 50px;
    width: 400px;
    z-index: 2;

    .img_title {
        color: var(--gray-3);
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: var(--heading-h4);
        line-height: 21px;
    }

    .img_text {
        line-height: 36px;
        font-family: 'Poppins', sans-serif;
        color: var(--gray-1);
        font-weight: 500;
        font-size: var(--paragraph1);
    }
}


.see_more {
    font-family: 'Poppins', sans-serif;
    color: var(--blue);
    font-weight: 500;
    font-size: var(--paragraph1);
    display: flex;
    justify-content: end;
    margin-right: 50px;
    margin-top: -30px;
    z-index: -1;

    &:hover {
        color: var(--blue);
        cursor: pointer;
    }
}

@media only screen and (min-width: 1920px) {
    .our_works  {
        margin-left: 100px;
    }
}