//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --heading-h2: 48px;
    --heading-h3: 36px;

    --paragraph1: 24px;
    --paragraph2: 18px;
    --paragraph3: 16px;
    --paragraph4: 14px;
    --paragraph5: 12px;
    --paragraph6: 10px;
}

//Colors
:root {
    --white: #FFFFFF;

    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-4:  #BDBDBD;
    --gray-6: #F2F2F2;

    --bg-btn: #E0E0E0;

    --blue: #228ecc;
    --blue-hover: #4eace1;
    --blue-ocean: #29526b;
    --blue-navi: #212530;
    --green: #27AE60;
    --red: #EB5757; 
    --red-light: #ea6e70;
    --brown: #8f4c26;
}

