@import 'variables';
@import 'nav';
@import '_section_home';
@import '_section_services';
@import 'section_our_works';
@import 'section_team';
@import 'section_quote';
@import 'footer';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}